%p Hi there!
%p Someone (probably you) requested an export of all the photos from #{event.Batch.EventName} #{event.Name} #{event.Batch.Name}.
%p
  Download your photos here:
  %a(href="#{link}") #{link}
%p
  (This link expires in one week.)
