-extends "template.haml"
-block section
  index
-block page
  index
-block header
  %header
    .img(style="background-image: url(#{photo.UrlLarge});")
      .caption #{photo.Event.Batch.EventName} #{photo.Event.Name} #{photo.Event.Batch.Name}
    %h2 #{__('index.title')}
-block content
  %ul.groupings
    -if my_events
      %li.my
        %h2 #{__('index.my-events')}
        %ul
          -for event in my_events
            %li
              %a(href="#{route('event', {batch: event.batch, event: event})}") #{event.Name} #{event.batch.Name}
    -elseif current_batch
      %li.current
        %h2 #{__('index.current')}
        %ul
          -for event in current_batch.Events
            %li
              %a(href="#{route('event', {batch: event.batch, event: event})}") #{event.Name}

    %li.batches
      %h2 #{__('index.by-batch')}
      %ul
        -for batch in all_batches
          -if batch.Events|length > 0 and not batch.IsFuture
            %li
              %a.batch(href="#{route('batch', {'batch': batch})}") #{batch.Name}

    %li.regions
      %h2 #{__('index.by-region')}
      %ul
        -for region in all_regions
          %li
            %a.batch(href="#{route('region', {'region': region.Region})}") #{region.Name}
