-extends "template.haml"
-block section
  index
-block page
  index
-block header
  %header
    .img(style="background-image: url(#{photo.UrlLarge});")
    .caption #{photo.Event.Batch.Name} #{photo.Event.Name}
    %h2 #{__('index.title')}
-block content
  %section.batches
    -if my_events
      %section.batch
        %h2 #{__('index.my-events')}
        %ul
          -for event in my_events
            %li
              %a(href="#{route('event', {batch: event.batch, event: event})}") #{event.Name} #{event.batch.Name}
    -for batch in all_batches
      -if batch.Events|length > 0 and not batch.IsFuture
        %section.batch
          %h2
            %a.batch{"href" => batch.IsCurrent ? false : "#{route('batch', {'batch': batch})}"} #{batch.Name}
          -if batch.IsCurrent
            %ul
              -for event in batch.Events
                %li
                  %a(href="#{route('event', {'batch': batch, 'event': event})}") #{event.Name}
