-extends "template.haml"
-import "widgets.haml" as widgets
-block section
  event
-block page
  photos
-block title
  #{__('common.nav.photos')}
-block content
  -if can_edit
    %p #{__('photos.delay')}
    %form(class="create dropzone" method="post" action="#{route('photo.store', {'batch': batch, 'event': event})}")
      #{csrf_field()}

  -if event.Photos|length == 0 and not can_edit
    %section.empty
      %p There's nothing here yet. :(
  - else
    %section.photos
      -for photo in event.Photos
        #{widgets.photo(can_edit, batch, event, photo)}

  %link(rel="stylesheet" href="/assets/js/dropzone.css")
  %link(rel="stylesheet" href="/assets/js/justifiedGallery.min.css")
  %script(src="/assets/js/jquery.js")
  %script(src="/assets/js/dropzone.js")
  %script(src="/assets/js/jquery.justifiedGallery.min.js")
  :javascript
    $("section.photos").justifiedGallery({rowHeight: 175, maxRowHeight: 300, margins: 6, border: 0});
