!!! 5
%html
  %head
    -if block('title')
      -set title="#{block('title')|trim} ~ #{__('common.site.title')}"
    -else
      -set title="#{__('common.site.title')}"

    %title #{title}
    %link(rel="stylesheet" href="/assets/css/style.css?v=#{version}")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    %meta(property="og:url" content="#{url}")
    %meta(property="fb:app_id" content="134222673401073")
    %meta(name="twitter:site" content="@studentrnd")
    %meta(name="twitter:creator" content="@studentrnd")
    -block og
      %meta(property="og:type" content="website")
      %meta(name="twitter:card" content="summary")
      %meta(property="og:title" content="#{title}")
      %meta(name="twitter:title" content="#{title}")

  %body(class="section-#{block('section')|trim} page-#{block('page')|trim}")

    -if session('error')
      #message.message.error
        #{session('error')}
    -elseif session('success')
      #message.message.success
        #{session('success')}

    %header
      %h1
        %a(href="#{route('index')}") #{__('common.site.title')}
      %nav
        %ul
          -if event
            %li(class="#{block('page')|trim == 'photos' ? 'active' : ''}")
              %a(href="#{route('event.photos', {'batch': event.batch, 'event': event})}") #{__('common.nav.photos')}
            -if event.IsInProgress
              %li(class="#{block('page')|trim == 'ideas' ? 'active' : ''}")
                %a(href="#{route('event.ideas', {'batch': event.batch, 'event': event})}") #{__('common.nav.ideas')}
            %li(class="#{block('page')|trim == 'teams' ? 'active' : ''}")
              %a(href="#{route('event.teams', {'batch': event.batch, 'event': event})}") #{__('common.nav.teams')}
            -if event.IsInProgress
              %li(class="#{block('page')|trim == 'presentations' ? 'active' : ''}")
                %a(href="#{route('event.presentations', {'batch': event.batch, 'event': event})}") #{__('common.nav.presentations')}
            -if can_edit or not event.IsInProgress
              %li(class="#{block('page')|trim == 'wrapup-event' ? 'active' : ''}")
                %a(href="#{route('event.wrapup', {'wrapup': event.batch, 'event': event})}") #{__('common.nav.wrapup')}
          -if block('page')|trim == 'wrapup'
            %li(class="active")
              %a(href="") #{__('common.nav.wrapup')}

    .content
      -block header
        &nbsp;

      -if errors.any()
        .error-message
          %h3 #{__('common.error.title')}
          %ul
            -for error in errors.all()
              %li #{error}

      -block content
        #{__('common.error.nocontent')}

    %footer
      .info
        &copy; SRND. #{__('common.license')}
      .legal
        %ul
          %li
            %a(href="https://srnd.org/privacy") #{__('common.nav.privacy')}
          %li
            %a(href="https://srnd.org/trademarks") #{__('common.nav.trademarks')}
      .links
        %ul
          -if username
            %li
              %a(href="#{route('auth.logout')}") #{__('common.nav.logout')}
          -else
            %li
              %a(href="#{route('auth.login')}") #{__('common.nav.login')}
          -if not refresh
            %li
              %a(href="?refresh") #{__('common.nav.refresh')}
    -if session('success') or session('error')
      :javascript
        setTimeout(function() {
          var message = document.getElementById('message');
          message.style.height = 0;
          message.style.padding = 0
        }, 5000);

    -if refresh
      :javascript
        setTimeout(function(){
          window.location.reload();
        }, 10000);
