-extends "template.haml"
-import "widgets.haml" as widgets
-block section
  event
-block page
  wrapup-event
-block title
  #{__('common.nav.wrapup')}
-block og
  %meta(property="og:type" content="website")
  %meta(name="twitter:card" content="summary_large_image")

  %meta(property="og:title" content="#{event.Batch.EventName} #{event.Name} #{event.Batch.Name}")
  %meta(name="twitter:title" content="#{event.Batch.EventName} #{event.Name} #{event.Batch.Name}")

  -set description="#{event.Post ?? __('wrapup.description.generic', {city: event.Name, date: event.StartsAt.format('F j-')~event.EndsAt.format('j, Y'), venue: event.VenueName})}"
  %meta(property="og:description" content="#{description}")
  %meta(name="twitter:description" content="#{description}")

  -if event.Photos|length > 0
    -for photo in event.PhotosRandom|slice(0,5)
      %meta(property="og:image" content="#{photo.UrlMedium}")
    -for photo in event.PhotosRandom|slice(0,1)
      %meta(name="twitter:image" content="#{photo.UrlMedium}")

-block content
  -if event.Teams|length == 0 and event.Photos|length == 0
    %section.empty
      %p There's nothing here yet. :(
  -else
    %section.event
      %header
        %h2
          #{event.Batch.EventName} #{event.Name} #{event.Batch.Name}
        .hosted
          -if event.VenueName
            #{__('wrapup.hosted', {'name': event.VenueName})}

      %section.lead
        %section.render
          %section.post
            -if event.Post
              #{event.Post|markdown|raw}
            -else
              #{__('wrapup.post.generic', {city: event.Name, batch: event.Batch.Name, venue: event.VenueName})}

          -if event.Thanks
            %section.thanks
              %p #{event.Thanks}

        -if can_edit
          %form(method="post" action="#{route('event.wrapup.update', {'batch': batch, 'event': event})}")
            #{csrf_field()}
            %h3 #{__('wrapup.post.title')}
            %textarea(name="post" placeholder="#{__('wrapup.post.placeholder')}")="#{event.Post}"

            %h3 #{__('wrapup.thanks.title')}
            %input(type="text" name="thanks" placeholder="#{__('wrapup.thanks.placeholder')}" value="#{event.Thanks}")

            %input(type="submit" value="#{__('common.save')}")

      -if event.Teams|length > 0
        %h3 #{__('wrapup.section.teams')}
        %section.teams.full
          -for team in event.Teams
            #{widgets.team(false, batch, event, team)}

      -if event.Photos|length > 0
        %h3 #{__('wrapup.section.photos')}
        %section.photos
          -for photo in event.Photos
            #{widgets.photo(false, event.batch, event, photo)}

      -if event.Photos|length > 0 or event.Teams|length > 0
        %section.export
          %form(method="post" action="#{route('event.wrapup.export', {'batch': batch, 'event': event})}" style="margin-top: 1rem")
            #{csrf_field()}
            %h3 #{__('wrapup.section.export')}
            %p #{__('wrapup.export.intro')}
            %input(type="email" name="email" placeholder="#{__('common.email')}" required=true)
            %input(type="submit" value="#{__('common.send')}")


  %link(rel="stylesheet" href="/assets/js/justifiedGallery.min.css")
  %script(src="/assets/js/jquery.js")
  %script(src="/assets/js/jquery.justifiedGallery.min.js")
  :javascript
    $("section.photos").justifiedGallery({rowHeight: 200, maxRowHeight: 250, margins: 6, border: 0, lastRow: 'justify'});
